@page
@model RazorTeste.Pages_Clients.EditModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Editar cliente";
}

<h1>Clientes</h1>

@if (SignInManager.IsSignedIn(User))
{
    <h4>Editar</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Client.Id" />
                <div class="form-group">
                    <label asp-for="Client.Name" class="control-label"></label>
                    <input asp-for="Client.Name" class="form-control" />
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Email" class="control-label"></label>
                    <input asp-for="Client.Email" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.CellPhone" class="control-label"></label>
                    <input asp-for="Client.CellPhone" class="form-control" />
                    <span asp-validation-for="Client.CellPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br />
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Voltar para lista</a>
    </div>
}
else
{
    <div>
        Para acessar essa página você precisa fazer o <a asp-area="Identity" asp-page="/Account/Login">login</a>!
    </div>
}
